header{
  width:100vw;
  height:auto;
  text-align: center;
  margin-bottom: 10px;
  max-width: 420px;
  max-height: 667px;
}
.logo{
  text-align: left;
  margin-left: 5vw;
  margin-top: 5vw;

}
.logo img{
  width:60px;
  height:auto;
}
@media only screen
  and (min-device-width: 420px) {
    header{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width:100vw;
      height:auto;
      text-align: center;
      margin-bottom: 0px;
      padding-bottom: 10px;
      max-width: 420px;
      border: 10px solid black;
      background-color: white;
    }
  }
