
.map_name_holder p{
  margin-bottom:  0px;
  margin-top:  10px;
}
#map_name{
  font-family: secondFont, thirdFont;
  font-size:15px;
  font-weight: 500;
  color: #FF5974;
  letter-spacing:-1px;
}

#map_section{
  height:100%;
  margin-bottom: 10vh;
  max-width: 420px;

}
.Islands{
  background-image: url("map_backgroundmap.png");
  background-size: contain;
  background-repeat: repeat;
  min-height: 20vh !important;
}
.Island{
  text-align: center;
  padding-bottom: 50px;
}
.Island p{
  margin-top: 5px;
  margin-bottom: 0px;
  font-size:11px;
  font-family: firstFont, thirdFont;
  color: #FF9B9B;
}
.imgholder{
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  height:auto;
}
.imgholder img{
  width: 100%;
  height:auto;
}
#boat{
  margin-top: -30px;
  width: 50px;
  height: 50px;
}
.special{
  padding-top:30px;
  padding-bottom: 80px;
}
.move_island_btn{
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border:none;
}


/*Cloud*/
#map_cloud1{
  position:absolute;
  width:100%;
  min-height: 100px;
  transform: translate(50%,-15%);
  text-align: right;
  z-index: 3;
  animation: map_cloud1move 10s infinite alternate linear;
}
@keyframes map_cloud1move{
  0%   {transform: translate(50%,-15%);}
  50%  {transform: translate(55%,-5%);}
  100%   {transform: translate(45%,-10%);}
}

#map_cloud1 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud2{
  position:absolute;
  width:100%;
  transform: translate(-50%,30%);
  z-index: 3;
  animation: map_cloud2move 9s infinite alternate linear;
}
@keyframes map_cloud2move{
  0%   {transform: translate(-50%,30%);}
  50%  {transform: translate(-55%,45%);}
  100%   {transform: translate(-45%,40%);}
}

#map_cloud2 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud3{
  position:absolute;
  width:50%;
  transform: translate(150%, 290%);
  text-align: right;
  z-index: 20;
  animation: map_cloud3move 6s infinite alternate linear;
}
@keyframes map_cloud3move{
  0%   {transform: translate(100%,290%);}
  50%  {transform: translate(110%,295%);}
  100%   {transform: translate(120%,285%);}
}

#map_cloud3 img{
  width:100%;
  max-width: 300px;
  height:auto;
}


#map_cloud4{
  position:absolute;
  width:50%;
  transform: translate(-70%, 450%);
  z-index: 3;
  animation: map_cloud4move 10s infinite alternate linear;
}

@keyframes map_cloud4move{
  0%   {transform: translate(-70%,450%);}
  50%  {transform: translate(-40%,455%);}
  100%   {transform: translate(-45%,450%);}
}

#map_cloud4 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud5{
  position:absolute;
  width:50%;
  transform: translate(140%, 550%);
  text-align: right;
  z-index: 3;
  animation: map_cloud5move 14s infinite alternate linear;
}

@keyframes map_cloud5move{
  0%   {transform: translate(160%,550%);}
  50%  {transform: translate(140%,560%);}
  100%   {transform: translate(130%,570%);}
}

#map_cloud5 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud6{
  position:absolute;
  width:50%;
  transform: translate(-50%, 900%);
  text-align: right;
  z-index: 3;
  animation: map_cloud6move 13s infinite alternate linear;
}
@keyframes map_cloud6move{
  0%   {transform: translate(-50%,900%);}
  50%  {transform: translate(-40%,910%); opacity: 0.8;}
  100%   {transform: translate(-35%,920%);}
}

#map_cloud6 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud7{
  position:absolute;
  width:50%;
  transform: translate(150%, 1050%);
  text-align: right;
  z-index: 3;
  animation: map_cloud7move 30s infinite alternate linear;
}
@keyframes map_cloud7move{
  0%   {transform: translate(150%,1050%);}
  50%  {transform: translate(50%,1150%);}
  100%   {transform: translate(0%,1200%);}
}

#map_cloud7 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud8{
  position:absolute;
  width:50%;
  transform: translate(50%,1000%);
  text-align: right;
  z-index: 3;
  animation: map_cloud8move 10s infinite alternate linear;
}
@keyframes map_cloud8move{
  0%   {transform: translate(50%,1000%);}
  50%  {transform: translate(60%,1010%);}
  100%   {transform: translate(40%,1020%);}
}
#map_cloud8 img{
  width:100%;
  max-width: 300px;
  height:auto;
  opacity: 0.9;
}

#map_cloud10{
  position:absolute;
  width:50%;
  transform: translate(70%,1120%);
  text-align: right;
  z-index: 3;
  animation: map_cloud10move 10s infinite alternate linear;
}
@keyframes map_cloud10move{
  0%   {transform: translate(70%,1100%);}
  50%  {transform: translate(80%,1110%);}
  100%   {transform: translate(70%,1120%);}
}

#map_cloud10 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud11{
  position:absolute;
  width:50%;
  transform: translate(-30%,1200%);
  text-align: right;
  z-index: 3;
  animation: map_cloud11move 65s infinite alternate linear;
}
@keyframes map_cloud11move{
  0%   {transform: translate(-30%,1200%);}
  50%  {transform: translate(180%,1250%);}
  100%   {transform: translate(-50%,1310%);}
}
#map_cloud11 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud12{
  position:absolute;
  width:50%;
  transform: translate(30%,1270%);
  text-align: right;
  z-index: 3;
  animation: map_cloud12move 55s infinite alternate linear;
}
@keyframes map_cloud12move{
  0%   {transform: translate(30%,1270%);}
  50%  {transform: translate(180%,1430%);}
  100%   {transform: translate(-100%,1400%);}
}
#map_cloud12 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud13{
  position:absolute;
  width:50%;
  transform: translate(100%,1870%);
  text-align: right;
  z-index: 3;
  animation: map_cloud13move 50s infinite alternate linear;
}
@keyframes map_cloud13move{
  0%   {transform: translate(100%,1870%);}
  50%  {transform: translate(-100%,1890%);}
  100%  {transform: translate(-30%,1830%);}
}
#map_cloud13 img{
  width:100%;
  max-width: 300px;
  height:auto;
}

#map_cloud14{
  position:absolute;
  width:100%;
  transform: translate(30%,1165%);
  text-align: right;
  z-index: 3;
  animation: map_cloud14move 60s infinite alternate linear;
}
@keyframes map_cloud14move{
  0%   {transform: translate(-30%,1165%);}
  50%  {transform: translate(50%,1150%);}
  100%  {transform: translate(-60%,1170%);}
}
#map_cloud14 img{
  width:100%;
  max-width: 300px;
  max-height: 100px;
  height:auto;
}



/*big cloud*/
#map_big_cloud1{
  position:absolute;
  width:100%;
  transform: translate(50%,230%);
  text-align: right;
  z-index: 3;
  animation: map_big_cloud1move 15s infinite alternate linear;
}
@keyframes map_big_cloud1move{
  0%   {transform: translate(50%,230%);}
  50%  {transform: translate(30%,240%);}
  100%  {transform: translate(25%,245%);}

}
#map_big_cloud1 img{
  width:100%;
  height:auto;
}
#map_big_cloud2{
  position:absolute;
  width:200%;
  transform: translate(-60%,150%);
  text-align: right;
  z-index: 3;
  animation: map_big_cloud2move 10s infinite alternate linear;
}
@keyframes map_big_cloud2move{
  0%   {transform: translate(-60%,150%);}
  50%  {transform: translate(-55%,155%);}
  100%  {transform: translate(-60%,150%);}
}
#map_big_cloud2 img{
  width:100%;
  height:auto;
}
#map_big_cloud3{
  position:absolute;
  width:150%;
  transform: translate(10%,220%);
  z-index: 3;
  animation: map_big_cloud3move 10s infinite alternate linear;
}
@keyframes map_big_cloud3move{
  0%   {transform: translate(10%,220%);}
  50%  {transform: translate(0%,225%);}
  100%  {transform: translate(5%,220%);}

}
#map_big_cloud3 img{
  width:100%;
  height:auto;
}
#map_big_cloud4{
  position:absolute;
  width:200%;
  transform: translate(-60%,200%);
  z-index: 3;
  animation: map_big_cloud4move 10s infinite alternate linear;
}
@keyframes map_big_cloud4move{
  0%   {transform: translate(-60%,200%);}
  50%  {transform: translate(-55%,190%);}
  100%  {transform: translate(-60%,195%);}

}
#map_big_cloud4 img{
  width:100%;
  height:auto;
}
#map_big_cloud5{
  position:absolute;
  width:150%;
  transform: translate(20%,370%);
  text-align: right;
  z-index: 3;
  animation: map_big_cloud5move 10s infinite alternate linear;
}
@keyframes map_big_cloud5move{
  0%   {transform: translate(20%,370%);}
  50%  {transform: translate(15%,360%);}
  100%  {transform: translate(20%,365%);}

}
#map_big_cloud5 img{
  width:100%;
  height:auto;
}
#map_big_cloud6{
  position:absolute;
  width:150%;
  transform: translate(-50%,390%);
  text-align: right;
  z-index: 3;
  animation: map_big_cloud6move 10s infinite alternate linear;
}
@keyframes map_big_cloud6move{
  0%   {transform: translate(-50%,390%);}
  50%  {transform: translate(-40%,380%);}
  100%  {transform: translate(-55%,385%);}

}
#map_big_cloud6 img{
  width:100%;
  height:auto;
}

#map_big_cloud7{
  position:absolute;
  width:150%;
  transform: translate(-10%,400%);
  text-align: right;
  z-index: 3;
  animation: map_big_cloud7move 50s infinite alternate linear;
}
@keyframes map_big_cloud7move{
  0%   {transform: translate(-10%,400%);}
  50%  {transform: translate(-40%,410%);}
  100%  {transform: translate(-20%,405%);}

}
#map_big_cloud7 img{
  width:100%;
  height:auto;
}


@media only screen
  and (min-device-width: 420px) {
    #map_body{
      background-color: rgb(129,251,207) !important;
      width: 100vw;
      height:100%;
    }
    #map_section{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
      font-family: firstFont,   thirdFont;
      border-left: 10px solid black;
      border-right: 10px solid black;
      background-color: white;
    }
    #map_cloud6{
      position:absolute;
      width:50%;
      transform: translate(-50%, 1000%);
      text-align: right;
      z-index: 3;
      animation: map_cloud6move 13s infinite alternate linear;
    }
    @keyframes map_cloud6move{
      0%   {transform: translate(-50%,950%);}
      50%  {transform: translate(0%,930%);}
      100%   {transform: translate(-35%,940%);}
    }

    #map_cloud7{
      position:absolute;
      width:50%;
      transform: translate(150%, 1200%);
      text-align: right;
      z-index: 3;
      animation: map_cloud7move 15s infinite alternate linear;
    }
    @keyframes map_cloud7move{
      0%   {transform: translate(150%,1200%);}
      50%  {transform: translate(100%,1150%);}
      100%   {transform: translate(0%,1180%);}
    }
  }
